{% extends "admin/index.html" %} 
{% load i18n %} 

{% block title %}
	Old School Hack Admin
{% endblock %}

{% block extrastyle %}{{block.super}}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL}}oshbestiaryStyle.css" />
{% endblock %}

{% if not is_popup %}

{% block branding %}
	<div id="logo">
		<a href="{% url osh-index %}">
			<img src="{{ MEDIA_URL }}banners/OSH_bestiary.png" style="padding-top:5px">
		</a>
	</div>
	<div id="osh-home" style="float:right">
		<a href="http://www.oldschoolhack.net" style="border:none">
			<img src="{{ MEDIA_URL }}banners/OSH_WebTitle.png" />
		</a>
	</div>
{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<div id="blurb">
			{% if user.is_superuser %}
				<a href="../">
				{% trans "Home" %}</a> &rsaquo; 
		{% else %}
		<a href="{% url osh-index %}">Home</a> &rsaquo; 
			{% endif %}
			Admin	
		</div>
</div>
{% endblock %}

{% endif %} 

{% block sidebar %}{% endblock %}