{% extends "templates/oshbestiary_base.html" %}
{% load taggingextras %}
{% load tagging_tags %}
{% block title %}  {{ object.name }} {% endblock %}
{% block content %}
	<h6 id="edit"><a href="{% url update_creature slug=object.slug %}">edit</a></h6>
	<h1>{{object.name}}</h1>
	<h6>Created by: {{object.owner}}</h6>
	<p>{{object.description}}</p>
	<ul class="attributes">
		{% if object.brawn != None %}
			<li><span class="value">{% if object.brawn > -1 %}+{% endif %}{{object.brawn}}</span> Brawn</li>
		{% endif %}
		{% if object.cunning != None %}
			<li><span class="value">{% if object.cunning > -1 %}+{% endif %}{{object.cunning}}</span>Cunning</li>
		{% endif %}
		{% if object.daring != None %}
			<li><span class="value">{% if object.daring > -1 %}+{% endif %}{{object.daring}}</span>Daring</li>
		{% endif %}
		{% if object.commitment != None %}
			<li><span class="value">{% if object.commitment > -1 %}+{% endif %}{{object.commitment}}</span>Commitment</li>
		{% endif %}
		{% if object.charm != None %}
			<li><span class="value">{% if object.charm > -1 %}+{% endif %}{{object.charm}}</span>Charm</li>
		{% endif %}
		{% if object.awareness != None %}
			<li><span class="value">{% if object.awareness > -1 %}+{% endif %}{{object.awareness}}</span>Awareness</li>
		{% endif %}
	</ul>
	
	<div id="left-stat-block">
		<h2>Armor Class: {{object.AC}}</h2>
		<h2>Hit Points: {{object.hit_points}}</h2>
		{% if object.weapon %}<h2>Weapon Type: {{object.weapon}}</h2>{% endif %}
	</div>
	
	{% if object.powers.all %}
		<h2 id="powers">Powers:</h2>
		{% for power in object.powers.all %}
			<img src="{{ MEDIA_URL }}/buttons/OSH_{{ power.type }}_Icon.png" class="power_icon" />
			{% if power.focused %}
				<img src="{{ MEDIA_URL }}/buttons/OSH_Focused_Icon.png" class="power_icon" />
			{% endif %}
			<h3>
			{{power.name}} 
			{% if power.type %}
				<span style="font-weight:normal; font-size: 75%">( {{power.type}}
				{% if power.focused %}
					, Focused
				{% endif %}
				)</span>
			{% endif %}
			</h3>
			<p>{{power.description}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if object.image %}
		<img src="{{ object.image }}" id="sidebar-image" />
	{% endif %}
	<div id="tag_list">
		<h3>Tags for {{ object.name }}:</h3>
		{% tags_for_object object as tags %}
		<p>{% for tag in tags %}
			<a href="{% url osh-by-tag tag %}">{{ tag }}</a>
		{% endfor %}</p>
	</div>
	<h4 id="index_link"><a href="{% url osh-index %}">Back to the Bestiary Index</a></h4>
{% endblock %}