{% extends "templates/oshbestiary_base.html" %}
{% load taggingextras %}
{% load tagging_tags %}
{% load filter_extras %}
{% load markup %}

{% block title %}  {{ object.name }} {% endblock %}
{% block content %}
	<h6 id="edit"><a href="{% url admin:oshbestiary_creature_change object.id %}">edit</a></h6>
	<h1>{{object.name}}</h1>
	<h6>Created by: {{object.owner}}</h6>
	<p>{{object.description|markdown}}</p>
	<ul class="attributes">
		<style>
			.attributes li {
				background: url({{ MEDIA_URL }}images/OSHAttributeShield.png) no-repeat;
				padding: 25px 0 20px 0;
				list-style-type:none;
				font-weight: bold;
				font-size: 150%;
			}
		</style>
		{% if object.brawn != None %}
			<li><span class="value">{% if object.brawn > -1 %}+{% endif %}{{object.brawn}}</span> Brawn</li>
		{% endif %}
		{% if object.cunning != None %}
			<li><span class="value">{% if object.cunning > -1 %}+{% endif %}{{object.cunning}}</span>Cunning</li>
		{% endif %}
		{% if object.daring != None %}
			<li><span class="value">{% if object.daring > -1 %}+{% endif %}{{object.daring}}</span>Daring</li>
		{% endif %}
		{% if object.commitment != None %}
			<li><span class="value">{% if object.commitment > -1 %}+{% endif %}{{object.commitment}}</span>Commitment</li>
		{% endif %}
		{% if object.charm != None %}
			<li><span class="value">{% if object.charm > -1 %}+{% endif %}{{object.charm}}</span>Charm</li>
		{% endif %}
		{% if object.awareness != None %}
			<li><span class="value">{% if object.awareness > -1 %}+{% endif %}{{object.awareness}}</span>Awareness</li>
		{% endif %}
	</ul>
	
	<div id="left-stat-block">
		<h2>Armor Class: {{object.AC}}</h2>
		<h2>Hit Points: {{object.hit_points}}</h2>
		{% if object.weapon %}<h2>Weapon Type: {{object.weapon}}</h2>{% endif %}
	</div>
	
	{% if object.powers.all %}
		<h2 id="powers">Powers:</h2>
		<div id="powers_note">
			<p><img src="{{ MEDIA_URL }}/buttons/OSH_Awesome_Note.png" /> Add this many Awesome Points to the Bowl</p>
			<p><img src="{{ MEDIA_URL }}/buttons/OSH_Focused_Note.png" /> Using this power requires the creature to <strong>Focus</strong></o>
		</div>
		{% for power in object.powers.all %}
			<h3>
				{% for i in power.type|get_range %}
					<img src="{{ MEDIA_URL}}/buttons/OSH_Awesome_Icon.png" class="power_icon" />
				{% endfor %}
			{{power.name}} 
			{% if power.focused %}
				<img src="{{ MEDIA_URL }}/buttons/OSH_Focused_Icon.png" class="power_icon" style="margin-left: 10px" />
			{% endif %}
			</h3>
			{{power.description|markdown}}
		{% endfor %}
	{% endif %}
	
	<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'dino-pirates'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		
{% endblock %}

{% block sidebar %}
	{% if object.image %}
		<img src="{{ object.image }}" id="sidebar-image" />
	{% endif %}
	<div id="tag_list">
		<h3>Tags for {{ object.name }}:</h3>
		{% tags_for_object object as tags %}
		<p>{% for tag in tags %}
			<a href="{% url osh-by-tag tag %}">{{ tag }}</a>
		{% endfor %}</p>
	</div>
	<h4 id="index_link"><a href="{% url osh-index %}">Back to the Bestiary Index</a></h4>
{% endblock %}