{% extends "templates/oshbestiary_base.html" %}

{% block title %}Home{% endblock %}

{% block blurb %}
	<p>Beasties, Monsters, and Bad Guys of all descriptions!</p>
{% endblock %}

{% block content %}
	<h1>The OLD SCHOOL HACK BESTIARY</h1>
	
	<p>An uber-convenient place to find inspiration, share awesomeness, or just grab something you can build tonight's game around. All these creatures/monsters/bad guys will work just fine in your own Old School Hack game!</p>
	
	<p>Promise.</p>
	
	<p>There's a chance this will turn into a whole thing. You can readily get access to create new and exciting creatures just by emailing 'barsoomcore' (hint: he lives at GMail) (he also hangs out at <a href="http://forums.oldschoolhack.net">Old School Hack forums</a>.</p>
	
	{% if user.is_authenticated %}
		<p>Get started: <a href="{% url admin:oshbestiary_creature_add %}">Create a beastie!</a></p>
	{% else %}
		<p><a href="{% url osh_login %}">Login!</a></p>
	{% endif %}
	
	
{% endblock %}
{% block sidebar %}
	<h2>The Creatures</h2>
	
	<p>With any luck, this list will get really long and I'll have to do something about that.</p>
	
	<ul>
		{% for creature in creature_list %}
			<li><strong><a href="{{creature.get_absolute_url}}">{{creature.name}}</a></strong></li>
		{% endfor %}
	</ul>
{% endblock %}